.home {
  @apply h-full flex flex-col justify-center items-center;

  .home_thought_buble {
    @apply w-48 h-24 p-2 border-2 border-gray-600 ml-0 my-5 rounded-lg;

    @screen md {
      @apply ml-64 !important my-0;
    }
  }

  .home_game_elements {
    @apply flex items-center mt-auto h-12;

    max-width: 90vw;

    .home_game_elements_content {
      @apply mx-2 flex items-center overflow-x-auto;
      font-size: 2.5rem;

      span {
        &:first-child {
          @apply mr-2;
        }

        &:last-child {
          @apply ml-2;
        }
      }
    }

    .home_animated_typing {
      @apply mt-2;
    }
  }

  .home_game_tip {
    @apply opacity-0 text-xs;

    transition: all 0.4s;

    &.home_game_tip-active {
      @apply opacity-100;
    }
  }

  .home_controls {
    @apply flex flex-col items-center mt-auto mb-20;

    .home_controls_label {
      @apply text-lg text-center;
    }
  }

  .home_header {
    @apply flex flex-col w-full mt-12 px-12;

    @screen sm {
      @apply block;
    }

    .btn-home {
      @apply w-64 px-6 text-lg h-10 mx-auto;
    }

    .btn-generate {
      @screen sm {
        @apply float-left;
      }
    }

    .btn-clear {
      @apply bg-red-800;

      @screen sm {
        @apply float-right;
      }
    }
  }

  .home_keyboard {
    @apply text-center;
    width: 12rem;

    .squared_button {
      @apply mx-2 my-1;
    }
  }
}
