.animated_typing {
  @apply h-6 bg-gray-700 rounded-lg;
  width: 0.1rem;
  animation: animatedTyping 1s infinite;
}

@keyframes animatedTyping {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
